!bin
*.DS_store
tmp/**/*
!tmp/cache/.keep
.env
.bundle
log/*.log

atom/*
!atom/config.cson
!atom/init.coffee
!atom/keymap.cson
!atom/snippets.cson
!atom/styles.less

Code/User/workspaceStorage/*
Code/User/globalStorage/*

gitconfig.local
