[Desktop Entry]
Type=Application
Exec=guake
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Guake
Name=Guake
Comment[en_US]=Dropdown shell
Comment=Dropdown shell
